* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  height: 100vh;
  color: #ddd;
}

#container-todolist {
  background-color: rgb(93, 93, 93);
  border-radius: 16px;
  outline: 2px rgba(255, 255, 255, 0.592) solid;
  padding: 16px 16px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
#title {
  font-size: 1.8em;
}

.tarefaItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 1em;
  color: white;
}
#container-tarefas {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 4px;
  padding: 0 4px;
  transition: 0.4s;
  width: 100%;
  list-style-type: none;
}
#container-tarefas li {
  color: white;
  text-align: left;
}
#btnAdicionar,
#btnLimparTudo {
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #222;
  cursor: pointer;
}
#tarefaInput {
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  border: 2px #222 solid;
  color: #222;
}

.tarefaCheck:checked + span {
  text-decoration: line-through;
}
.tarefaItem {
  display: flex;
  flex-direction: row;
}
